@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Momo+Trust+Display&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Unbounded:wght@200..900&display=swap');



header {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.open-video {
    border-radius: 10px;
}

.btn-success {
    border: 1px solid black;
}

.title-content {
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 6vh;
    font-size: 350px;
}


.main-img {
    border-radius: 10px;
    animation: amg-one 1.6s;
}

@keyframes amg-one {
    from {
        transform: translateX(130px);
    }

    to {
        transform: translateX(0);
    }
}

.footer {
    background-color: rgba(220, 220, 220, 0.753);
    border-radius: 5px;
}

.card--1 {
    gap: 10px;
    width: 100%;
}

.card {
    transition-duration: 1s;
}

.card:hover {
    bottom: 5px;
    box-shadow: 0 12px 10px black;
}

.card-1 {
    text-align: center;
    animation: card1 1.5s linear;
    animation-timeline: view();
    animation-range: entry 0% entry 100%;
}

@keyframes card1 {
    from {
        transform: translateY(80px);
    }

    to {
        transform: translateX(0);
    }
}

.card-2 {
    text-align: center;
    animation: card2 1.7s linear;
    animation-timeline: view();
    animation-range: entry 0% entry 100%;
}

@keyframes card2 {
    from {
        transform: translateY(80px);
    }

    to {
        transform: translateX(0);
    }
}

.card-3 {
    text-align: center;
    animation: card3 1.9s linear;
    animation-timeline: view();
    animation-range: entry 0% entry 100%;
}

@keyframes card3 {
    from {
        transform: translateY(80px);
    }

    to {
        transform: translateX(0);
    }
}

.card-4 {
    text-align: center;
    animation: card4 2s linear;
    animation-timeline: view();
    animation-range: entry 0% entry 100%;
}

@keyframes card4 {
    from {
        transform: translateY(80px);
    }

    to {
        transform: translateX(0);
    }
}

.text-motivation {
    height: 100px;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button-item {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.login-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button-item .btn {
    margin: 0 10px;
}

@media screen and (max-width:700px) {
    header {
        height: 30vh;
    }

    .text {
        width: 200px;
    }

    .title-content {
        font-size: 80px;
    }

    .nav-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}